html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#upperContents {
	height: 70%;
	padding-bottom: 50px;
}

#messageArea {
	height: 100%;
	overflow: scroll;
}

#channelArea {
	height: 100%;
	overflow: scroll;
}

#downnerContents {
	height: 30%;
}

#logArea {
	height: 100%;
	overflow: scroll;
}

#userArea {
	height: 100%;
	overflow: scroll;
}
#inputArea {
	background: white;
	position: fixed;
	bottom: 30%;
	width: 100%;
	height: 40px;
}

.channelElement {
	margin-left: 10px;
	padding-left: 5px;
	border-radius: 5px;
}

.hasNewMessage {
	background-color: #EFF;
}

.isSelectChannel {
	background-color: #EEF;
}

.hasNotificationMessage {
	background-color: #FEE;
}

.highlighted {
	color: #F33;
}