<!DOCTYPE html>
<html ng-app="ircApp" ng-controller="ircController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{server.name}}</title>
<script>
	var exportsObject = module.exports;
	module.exports = null;
</script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<script src="node_modules/angular/angular.js"></script>
<link rel="stylesheet" href="angular-ui-tree/dist/angular-ui-tree.min.css">
<script src="angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="ui-bootstrap-tpls-0.13.0.min.js"></script>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div id="contents" class="row">
		<div class="col-xs-8" id="messageArea">
			<div id="messageInnerArea">
				<div ng-repeat="message in messages">
					<div class="row">
						<div class="col-xs-2">
							<div ng-bind="message.name"></div>
						</div>
						<div class="col-xs-10">
							<div ng-bind-html="message.text | highlight:myNickname"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4" id="channelArea">
			<div ui-tree>
				<dl ui-tree-nodes="" ng-model="connections.servers">
					<dt ng-repeat="server in connections.servers" ui-tree-node>
						<div ui-tree-handle class="serverElement">{{server.name}}</div>
						<dl ui-tree-nodes="" ng-model="server.channels">
							<dt ng-repeat="channel in server.channels" ui-tree-node ng-click="selectChannel(server.network, channel)" class="channelElement" ng-class="{hasNewMessage: hasNewMessage(server.network, channel), isSelectChannel: isSelectChannel(server.network, channel),  hasNotificationMessage: hasNotificationMessage(server.network, channel)}">{{channel}}</dt>
						</dl>
					</dt>
				</dl>
			</div>
		</div>
		<!-- channelArea -->
	</div>
	<!-- contents -->
	<div id="inputArea">
		<div class="input-group" style="width: 100%">
			<input type="text" class="form-control" ng-model="newMessage" ng-keydown="handleKeydown($event)">
			<div class="input-group-btn"></div>
		</div>
	</div>
	<!-- inputArea -->
</body>
<script type="text/javascript" src="scripts/index.js"></script>
</html>